local.properties
app/src/main/google-services.json
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/converter_gson_2_0_0.xml
.idea/libraries/gson_2_6_1.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/mediarouter_v7_23_0_0.xml
.idea/libraries/midi_1_0_0_rc1.xml
.idea/libraries/okhttp_3_2_0.xml
.idea/libraries/okio_1_6_0.xml
.idea/libraries/pd_core_1_0_1.xml
.idea/libraries/play_services_8_4_0.xml
.idea/libraries/play_services_ads_8_4_0.xml
.idea/libraries/play_services_analytics_8_4_0.xml
.idea/libraries/play_services_appindexing_8_4_0.xml
.idea/libraries/play_services_appinvite_8_4_0.xml
.idea/libraries/play_services_appstate_8_4_0.xml
.idea/libraries/play_services_auth_8_4_0.xml
.idea/libraries/play_services_base_8_4_0.xml
.idea/libraries/play_services_basement_8_4_0.xml
.idea/libraries/play_services_cast_8_4_0.xml
.idea/libraries/play_services_drive_8_4_0.xml
.idea/libraries/play_services_fitness_8_4_0.xml
.idea/libraries/play_services_games_8_4_0.xml
.idea/libraries/play_services_gcm_8_4_0.xml
.idea/libraries/play_services_identity_8_4_0.xml
.idea/libraries/play_services_location_8_4_0.xml
.idea/libraries/play_services_maps_8_4_0.xml
.idea/libraries/play_services_measurement_8_4_0.xml
.idea/libraries/play_services_nearby_8_4_0.xml
.idea/libraries/play_services_panorama_8_4_0.xml
.idea/libraries/play_services_plus_8_4_0.xml
.idea/libraries/play_services_safetynet_8_4_0.xml
.idea/libraries/play_services_vision_8_4_0.xml
.idea/libraries/play_services_wallet_8_4_0.xml
.idea/libraries/play_services_wearable_8_4_0.xml
.idea/libraries/retrofit_2_0_0.xml
.idea/libraries/support_annotations_23_1_1.xml
.idea/libraries/support_v4_23_1_1.xml
.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
app/app-release.apk
